* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main {
  display: flex;
}

sidebar {
  background-color: #3BFF94;
  padding: 2rem 6rem 0rem 2rem;
}

sidebar h5 {
  font-weight: 500;
  font-size: 1.5rem;
}

sidebar ul {
  list-style: none;
}


sidebar ul li {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
